#navbar {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(208, 208, 247), rgb(99, 71, 71));
  display: flex;
  justify-content: space-between;
  height: 50px;

  /* overflow: hidden; */
  /* padding: 0 4px; */
  padding-right: 50px;
  box-shadow: 4px 3px 2px rgba(211, 173, 173, 0.5);
  /* border-radius: 8px; */
  position: sticky;
  top: 0;
}
.logo {
  width: 330px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  width: 300px;
}
.nav-links ul {
  display: flex;
  justify-content: space-between;
}
.nav-links li {
  list-style-type: none;
  font-size: 14px;
  text-transform: uppercase;
}
.nav-links li a {
  text-decoration: none;
  display: inline-block;
  color: #e0c9c9;
}
.theme {
  width: 200px;
}
.theme ul {
  display: flex;
  justify-content: space-between;
}
.theme li {
  list-style-type: none;
  font-size: 14px;
  text-transform: uppercase;
}
.theme li a {
  text-decoration: none;
  display: inline-block;
  color: #e0c9c9;
}
