#navbar {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(219, 219, 219), rgb(121, 79, 79));
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  padding-right: 50px;
  box-shadow: 4px 3px 2px rgba(211, 173, 173, 0.5);

  position: sticky;
  top: 0;
}

.logo {
  width: 330px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo .horizon-icon {
  font-size: 30px;
  color: rgb(104, 6, 22);
}
.logo h1 {
  box-shadow: 2px 4px 2px rgba(211, 173, 173, 2);
  background: linear-gradient(to right, rgb(201, 173, 173), rgb(140, 140, 223));
  color: #fff;
  border-radius: 8px;
}
.nav-links {
  width: 300px;
}
.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links li {
  list-style-type: none;
  font-size: 14px;
  text-transform: uppercase;
}
.nav-links li a {
  text-decoration: none;
  display: inline-block;
  color: #e0c9c9;
}
.theme {
  width: 200px;
}
.theme ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme li {
  list-style-type: none;
  font-size: 14px;
  text-transform: uppercase;
}
.theme li a {
  text-decoration: none;
  display: inline-block;
  color: #e0c9c9;
}
