#navbar {
  background-color: #4d4c4c;
  background: linear-gradient(to right, rgb(78, 77, 77), rgb(187, 176, 176));
  /* background: linear-gradient(to right, rgb(226, 220, 220), rgb(255, 211, 211)); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding-right: 50px;
  box-shadow: 4px 3px 2px rgb(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
}

.logo {
  width: 330px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo .horizon-icon {
  font-size: 30px;
  color: rgb(104, 6, 22);
}
.logo h1 {
  box-shadow: 2px 4px 2px rgba(211, 173, 173, 0.5);
  background: linear-gradient(to right, rgb(223, 162, 162), rgb(97, 6, 51));
  color: #ffffff;
  border-radius: 8px;
}
.nav-links {
  width: 300px;
}
.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links li {
  list-style-type: none;
  font-size: 14px;
  text-transform: uppercase;
}
.nav-links li a {
  text-decoration: none;
  display: inline-block;
  /* color: #e0c9c9; */
  color: #411616;
}
.theme {
  width: 170px;
}
.theme ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme li {
  list-style-type: none;
  font-size: 14px;
  text-transform: uppercase;
}
.theme li a {
  text-decoration: none;
  display: inline-block;
  color: #411616;
}
.theme li .to-cart:first-child {
  color: rgb(97, 6, 51);
  display: inline-block;
  padding: 10px;
  font-size: 30px;
  position: relative;
}

.cart-state {
  position: absolute;
  top: 15px;
  right: 16px;
  font-size: 14px;
  color: #fff;
}
