@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #f0eadc;
  overflow-x: hidden;
  overflow-y: scroll;
}
.app {
  margin: 0 50px;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.8em 0;
  font-size: 1rem;
  font-weight: normal; 
} */
/* Set consistent margin for headings */
/* Reset default bold weight */

p {
  line-height: 1.5; /* Improve readability with line-height */
  margin: 0.5em 0; /* Set some margin for paragraphs */
}

a {
  text-decoration: none; /* Remove default underline on links */
  color: inherit; /* Inherit default text color */
}

ul,
ol {
  margin: 0; /* Reset default margin and padding */
  padding: 0;
  list-style: none; /* Remove default list style */
}
